@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'MyCustomFont';
    src: url('/fonts/Arial.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'MyCustomFont1';
    src: url('/fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

/* Add this to hide the scrollbar */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
